# Strings, Lists and Dictionaries

In [3]:
name = "Arsalan"
color = 'light'
#place = "karachi'

In [4]:
pet = ""
pet = "loooooooooooooooooooooooooooooooooong cat"
print("Name: "+name+", Favorite color: "+color)

Name: Arsalan, Favorite color: light

In [5]:
"example" *3

'exampleexampleexample'

In [6]:
len(pet)

41

In [8]:
def double_word(word):
    return word * 2 + str(len(word*2))

print(double_word("hello"))
print(double_word("abc"))
print(double_word(""))

hellohello10
abcabc6
0

In [9]:
name = "arsalan"
print(name[1])

r

In [10]:
print(name[0])

a

In [11]:
print(name[5])

a

In [13]:
text = "Random string with a lof of characters"
print(text[-1])

s

In [32]:
def first_and_last(message):
    if message=="" or message[0] == message[-1] :
      return True
    
    return False

print(first_and_last("else"))
print(first_and_last("tree"))
print(first_and_last(""))

True
False
True

In [33]:
color = "Orange"
color[1:4]

'ran'

In [34]:
fruit = "Pineapple"
print(fruit[:4])

Pine

In [35]:
print(fruit[4:])

apple

In [36]:
message = "A kong string with silly typo"

In [37]:
message[2] = "l"

TypeError: 'str' object does not support item assignment

In [38]:
new_message = message[0:2] +"l" + message[3:]
print(new_message)

A long string with silly typo

In [39]:
message = "THis is a new message"
print(message)

THis is a new message

In [40]:
message = "And another message"
print(message)

And another message

In [1]:
pets = "Cats & Dogs"

In [2]:
pets.index("&")

5

In [3]:
pets.index("C")

0

In [4]:
pets.index("Dog")

7

In [5]:
pets.index("s")

3

In [6]:
pets.index("x")

ValueError: substring not found

In [7]:
word = "supercalifragilistexpialidocious"
print(word.index("x"))

19

In [8]:
"Dragons" in pets

False

In [9]:
"Cats" in pets

True

In [10]:
def replace_domain(email, old_domain, new_domain):
    if "@" + old_domain in email:
        index = email.index("@" +old_domain)
        new_email = email[:index] + "@" + new_domain
        return new_email
    return email

In [12]:
replace_domain("arsalan@gmail.com",'gmail.com','yahoo.com')

'arsalan@yahoo.com'

In [13]:
"Mountains".upper()

'MOUNTAINS'

In [14]:
"Mountains".lower()

'mountains'

In [15]:
answer = 'YES'
if answer.lower() == 'yes':
    print("User said yes")

User said yes

In [16]:
"  Yes  ".strip()

'Yes'

In [17]:
"  yes   ".rstrip()

'  yes'

In [18]:
"    yes  ".lstrip()

'yes  '

In [19]:
"The number of times e occurs in this string is 4.".count("e")

4

In [20]:
"Forest".endswith("rest")

True

In [21]:
"Forest".isnumeric()

False

In [22]:
"12233".isnumeric()

True

In [24]:
int("12") + int("12")

24

In [26]:
" ".join(['THis', 'is', 'a', 'Phrase','joined','by','spaces'])

'THis is a Phrase joined by spaces'

In [28]:
"...".join(['THis', 'is', 'a', 'Phrase','joined','by','triple','dots'])

'THis...is...a...Phrase...joined...by...triple...dots'

In [29]:
"This is another example".split()

['This', 'is', 'another', 'example']

In [30]:
def initials(phrase):
    words = phrase.split()
    result = ""
    for word in words:
        result += word[0].upper()
    return result

print(initials("Universal Serial Bus"))
print(initials("local area network"))
print(initials("Operating system"))

USB
LAN
OS

In [31]:
name = "arsalan"
number = len(name) * 3
print("Hello {}, your lucky number is {}".format(name, number))

Hello arsalan, your lucky number is 21

In [32]:
print("Your lucky number is {number}, {name}.".format(name=name, number=len(name)*3))

Your lucky number is 21, arsalan.

In [33]:
def student_grade(name, grade):
    return "{} received {}% on the exam".format(name,grade)

print(student_grade("Reed",80))
print(student_grade("Paige", 92))

Reed received 80% on the exam
Paige received 92% on the exam

In [34]:
price = 7.5
with_tax = price * 1.09
print(price, with_tax)

7.5 8.175

In [35]:
print("Base price: ${:.2f}. With Tax: ${:.2f}".format(price,with_tax))

Base price: $7.50. With Tax: $8.18

# Practice Quiz: Strings

#### 1.The is_palindrome function checks if a string is a palindrome. A palindrome is a string that can be equally read from left to right or right to left, omitting blank spaces, and ignoring capitalization. Examples of palindromes are words like kayak and radar, and phrases like "Never Odd or Even". Fill in the blanks in this function to return True if the passed string is a palindrome, False if not.

In [1]:
def is_palindrome(input_string):
	# We'll create two strings, to compare them
	new_string = ""
	reverse_string = ""
	# Traverse through each letter of the input string
	for word in input_string:
		# Add any non-blank letters to the 
		# end of one string, and to the front
		# of the other string.
		lower_word = word.lower()
		if lower_word.split():
			new_string += lower_word 
		reverse_string = new_string[::-1]
	#print(new_string)
	# Compare the strings
	if new_string == reverse_string:
		return True
	return False

print(is_palindrome("Never Odd or Even")) # Should be True
print(is_palindrome("abc")) # Should be False
print(is_palindrome("kayak")) # Should be True

True
False
True

#### 2. Using the format method, fill in the gaps in the convert_distance function so that it returns the phrase "X miles equals Y km", with Y having only 1 decimal place. For example, convert_distance(12) should return "12 miles equals 19.2 km".

In [2]:
def convert_distance(miles):
	km = miles * 1.6 
	result = "{} miles equals {:.1f} km".format(miles, km)
	return result

print(convert_distance(12)) # Should be: 12 miles equals 19.2 km
print(convert_distance(5.5)) # Should be: 5.5 miles equals 8.8 km
print(convert_distance(11)) # Should be: 11 miles equals 17.6 km

12 miles equals 19.2 km
5.5 miles equals 8.8 km
11 miles equals 17.6 km

# Lists

In [3]:
x = ["Now", "we", "are", "cooking!"]
x

['Now', 'we', 'are', 'cooking!']

In [4]:
type(x)

list

In [5]:
len(x)

4

In [6]:
"are" in x

True

In [7]:
"Today" in x

False

In [8]:
print(x[0])

Now

In [9]:
print(x[3])

cooking!

In [10]:
print(x[4]) # Index Error

IndexError: list index out of range

In [11]:
x[1:3]

['we', 'are']

In [12]:
x[:2]

['Now', 'we']

In [13]:
x[2:]

['are', 'cooking!']

The group_list function accepts a group name and a list of members, and returns a string with the format: group_name: member1, member2, … For example, group_list("g", ["a","b","c"]) returns "g: a, b, c". Fill in the gaps in this function to do that.

In [14]:
def group_list(group, users):
  members = users
  
  return group +": " + ",".join(users)

print(group_list("Marketing", ["Mike", "Karen", "Jake", "Tasha"])) # Should be "Marketing: Mike, Karen, Jake, Tasha"
print(group_list("Engineering", ["Kim", "Jay", "Tom"])) # Should be "Engineering: Kim, Jay, Tom"
print(group_list("Users", "")) # Should be "Users:"

Marketing: Mike,Karen,Jake,Tasha
Engineering: Kim,Jay,Tom
Users:

In [15]:
# Lists are mutable we can change add or remove elements of list

In [18]:
fruits = ["Pineapple", "Banana", "Apple", "Melon"]
# Append method add element to the end of the list
fruits.append("Kiwi")
print(fruits)

['Pineapple', 'Banana', 'Apple', 'Melon', 'Kiwi']

In [19]:
# Insert method add element where you specify position
fruits.insert(0, "Orange")
print(fruits)

['Orange', 'Pineapple', 'Banana', 'Apple', 'Melon', 'Kiwi']

In [20]:
fruits.insert(25, "Peach")
print(fruits)

['Orange', 'Pineapple', 'Banana', 'Apple', 'Melon', 'Kiwi', 'Peach']

In [21]:
fruits.index("Peach")

6

In [23]:
# removing element
fruits.remove("Melon")
print(fruits)

['Orange', 'Pineapple', 'Banana', 'Apple', 'Kiwi', 'Peach']

In [24]:
fruits.remove("Pear")

ValueError: list.remove(x): x not in list

In [25]:
fruits.pop(3)

'Apple'

In [26]:
print(fruits)

['Orange', 'Pineapple', 'Banana', 'Kiwi', 'Peach']

In [27]:
fruits[2] = "Strawberry"
print(fruits)

['Orange', 'Pineapple', 'Strawberry', 'Kiwi', 'Peach']

The skip_elements function returns every other element from the list, starting from the first. Complete this function to do that.

In [31]:
def skip_elements(elements):
	# code goes here
  new_list = []
  for i in range(len(elements)):
    if i % 2 == 0:
      new_list.append(elements[i])
  	
  return new_list

print(skip_elements(["a", "b", "c", "d", "e", "f", "g"])) # Should be ['a', 'c', 'e', 'g']
print(skip_elements(['Orange', 'Pineapple', 'Strawberry', 'Kiwi', 'Peach'])) # Should be ['Orange', 'Strawberry', 'Peach']
print(skip_elements([])) # Should be []

['a', 'c', 'e', 'g']
['Orange', 'Strawberry', 'Peach']
[]

In [32]:
# Tuples
# immutable (can't change and delete items)

In [34]:
full_name=('Muhammad', 'Arsalan', 'Manzoor')
print(full_name)

('Muhammad', 'Arsalan', 'Manzoor')

In [35]:
type(full_name)

tuple

The guest_list function reads in a list of tuples with the name, age, and profession of each party guest, and prints the sentence "Guest is X years old and works as __." for each one. For example, guest_list(('Ken', 30, "Chef"), ("Pat", 35, 'Lawyer'), ('Amanda', 25, "Engineer")) should print out:

Ken is 30 years old and works as Chef.

Pat is 35 years old and works as Lawyer.

Amanda is 25 years old and works as Engineer.

Fill in the gaps in this function to do that.

In [36]:
def guest_list(guests):
	for i in range(len(guests)):
		guest = guests[i]
		print("{} is {} years old and works as {}.".format(guest[0],guest[1],guest[2]))

guest_list([('Ken', 30, "Chef"), ("Pat", 35, 'Lawyer'), ('Amanda', 25, "Engineer")])

Ken is 30 years old and works as Chef.
Pat is 35 years old and works as Lawyer.
Amanda is 25 years old and works as Engineer.

In [37]:
# Iterating over lists and tuples

In [39]:
animals = ["Lion", "Dolphin", "Zebra", "Monkey"]
chars = 0
for animal in animals:
    chars += len(animal)
print("Total characters: {}, Average Length: {}".format(chars, chars/len(animals)))

Total characters: 22, Average Length: 5.5

In [41]:
winners = ["Ashley", "Dylan", "Reese"]

for index, person in enumerate(winners):
    print("{} - {}".format(index+1, person))

1 - Ashley
2 - Dylan
3 - Reese

Try out the enumerate function for yourself in this quick exercise. Complete the skip_elements function to return every other element from the list, this time using the enumerate function to check if an element is on an even position or an odd position.

In [42]:
def skip_elements(elements):
	# code goes here
	new_elements = []
	for index, element in enumerate(elements):
	  if index % 2 == 0:
	    new_elements.append(element)
	return new_elements

print(skip_elements(["a", "b", "c", "d", "e", "f", "g"])) # Should be ['a', 'c', 'e', 'g']
print(skip_elements(['Orange', 'Pineapple', 'Strawberry', 'Kiwi', 'Peach'])) # Should be ['Orange', 'Strawberry', 'Peach']

['a', 'c', 'e', 'g']
['Orange', 'Strawberry', 'Peach']

In [44]:
def full_emails(people):
    result = []
    for email, name in people:
        result.append("{} <{}>".format(name, email))
    return result

In [45]:
print(full_email([("alex@example.com", "Alex Diego"),
            ("shay@example.com", "Shay Brandt")]))

['Alex Diego <alex@example.com>', 'Shay Brandt <shay@example.com>']

In [51]:
# List Comprehension
# Let us create new list based on sequences and ranges

In [47]:
multiples = []
for x in range(1, 11):
    multiples.append(x*7)
print(multiples)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

In [50]:
# same operation with List Comprehension in One line
multiples = [ x*7 for x in range(1,11)]
print(multiples)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

In [52]:
languages = ["Python", "Perl", "Ruby", "GO", "Java", "C"]
lengths = [ len(langugae) for langugae in languages ]
print(lengths)

[6, 4, 4, 2, 4, 1]

In [53]:
z = [ x for x in range(0, 101) if x % 3==0]
print(z)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

Complete the skip_elements function to return every other element from the list, this time using a list comprehension to generate the new list based on the previous one, where elements in odd positions are skipped

In [54]:
def skip_elements(elements):
	return [element for index,element in enumerate(elements) if index%2==0 ]  

print(skip_elements(["a", "b", "c", "d", "e", "f", "g"])) # Should be ['a', 'c', 'e', 'g']
print(skip_elements(['Orange', 'Pineapple', 'Strawberry', 'Kiwi', 'Peach'])) # Should be ['Orange', 'Strawberry', 'Peach']

['a', 'c', 'e', 'g']
['Orange', 'Strawberry', 'Peach']

# Practice Quiz: Lists

1. Given a list of filenames, we want to rename all the files with the extension hpp to the extension h by generating a list of tuples of the form (old_name, new_name).

That is, given the following list of filenames

filenames = ["program.c", "stdio.hpp", "sample.hpp", "a.out", -"math.hpp", "hpp.out"]

complete the starter code to generate the following newfilenames list of tuples

newfilenames = [('program.c', 'program.c'), ('stdio.hpp', 'stdio.h'), ('sample.hpp', 'sample.h'), ('a.out', 'a.out'), ('math.hpp', 'math.h'), ('hpp.out', 'hpp.out')]

In [66]:
filenames = ["program.c", "stdio.hpp", "sample.hpp", "a.out", "math.hpp", "hpp.out"]
newfilenames = []

for item in filenames:
    if "hpp" in item:
        new_name = item.index(item + "h")
        newfilenames.append((item, new_name))
print (newfilenames) # Should be [('program.c', 'program.c'), ('stdio.hpp', 'stdio.h'), ('sample.hpp', 'sample.h'), ('a.out', 'a.out'), ('math.hpp', 'math.h'), ('hpp.out', 'hpp.out')]

ValueError: substring not found

In [ ]:
def replace_domain(email, old_domain, new_domain):
    if "@" + old_domain in email:
        index = email.index("@" +old_domain)
        new_email = email[:index] + "@" + new_domain
        return new_email
    return email

# Dictionaries

In [55]:
# The data inside dictionaries take the form of keys and values

In [56]:
x = {}
type(x)

dict

In [58]:
file_counts = {"jpeg": 10, "txt": 14, "csv": 2, "py": 23}
print(file_counts)

{'jpeg': 10, 'txt': 14, 'csv': 2, 'py': 23}

In [59]:
file_counts['txt']

14

In [60]:
"jpeg" in file_counts

True

In [61]:
"html" in file_counts

False

In [62]:
file_counts["cfg"] = 8
print(file_counts)

{'jpeg': 10, 'txt': 14, 'csv': 2, 'py': 23, 'cfg': 8}

In [63]:
file_counts["csv"] = 17
print(file_counts)

{'jpeg': 10, 'txt': 14, 'csv': 17, 'py': 23, 'cfg': 8}

In [64]:
del file_counts["cfg"]
print(file_counts)

{'jpeg': 10, 'txt': 14, 'csv': 17, 'py': 23}

The "toc" dictionary represents the table of contents for a book. Fill in the blanks to do the following: 1) Add an entry for Epilogue on page 39. 2) Change the page number for Chapter 3 to 24. 3) Display the new dictionary contents. 4) Display True if there is Chapter 5, False if there isn't.

In [65]:
toc = {"Introduction":1, "Chapter 1":4, "Chapter 2":11, "Chapter 3":25, "Chapter 4":30}
toc["Epilogue"] = 39 # Epilogue starts on page 39
toc["Chapter 3"] = 24 # Chapter 3 now starts on page 24
print(toc) # What are the current contents of the dictionary?
print(False) # Is there a Chapter 5?

{'Introduction': 1, 'Chapter 1': 4, 'Chapter 2': 11, 'Chapter 3': 24, 'Chapter 4': 30, 'Epilogue': 39}
False

In [66]:
# Iterating over a Dictionary
file_counts = {"jpeg": 10, "txt": 14, "csv": 2, "py": 23}
for extension in file_counts:
    print(extension)

jpeg
txt
csv
py

In [67]:
for ext, amount in file_counts.items():
    print("There are {} files with the .{} extension".format(amount, ext))

There are 10 files with the .jpeg extension
There are 14 files with the .txt extension
There are 2 files with the .csv extension
There are 23 files with the .py extension

In [68]:
file_counts.keys()

dict_keys(['jpeg', 'txt', 'csv', 'py'])

In [69]:
file_counts.values()

dict_values([10, 14, 2, 23])

In [70]:
for value in file_counts.values():
    print(value)

10
14
2
23

Complete the code to iterate through the keys and values of the cool_beasts dictionary. Remember that the items method returns a tuple of key, value for each element in the dictionary.

In [71]:
cool_beasts = {"octopuses":"tentacles", "dolphins":"fins", "rhinos":"horns"}
for key, value in cool_beasts.items():
    print("{} have {}".format(key, value))

octopuses have tentacles
dolphins have fins
rhinos have horns

In [72]:
def count_letters(text):
    result = {}
    for letter in text:
        if letter not in result:
            result[letter] = 0
        result[letter] += 1
    return result

In [73]:
print(count_letters("aaaaa"))

{'a': 5}

In [74]:
print(count_letters("tenant"))

{'t': 2, 'e': 1, 'n': 2, 'a': 1}

In [75]:
print(count_letters("Long string with a lot of letters"))

{'L': 1, 'o': 3, 'n': 2, 'g': 2, ' ': 6, 's': 2, 't': 5, 'r': 2, 'i': 2, 'w': 1, 'h': 1, 'a': 1, 'l': 2, 'f': 1, 'e': 2}

In Python, a dictionary can only hold a single value for a given key. To workaround this, our single value can be a list containing multiple values. Here we have a dictionary called "wardrobe" with items of clothing and their colors. Fill in the blanks to print a line for each item of clothing with each color, for example: "red shirt", "blue shirt", and so on.

In [62]:
wardrobe = {"shirt":["red","blue","white"], "jeans":["blue","black"]}
for key in wardrobe:
	for item in wardrobe[key]:
		print("{} {}".format(item, key))

red shirt
blue shirt
white shirt
blue jeans
black jeans

# Set

In [63]:
# Used when you store a bunch of elements and be certain that they're only present once

# Practice Quiz: Dictionaries

1. The email_list function receives a dictionary, which contains domain names as keys, and a list of users as values. Fill in the blanks to generate a list that contains complete email addresses (e.g. diana.prince@gmail.com).

In [68]:
def email_list(domains):
	emails = []
	for users in domains:
	  for user in domains[users]:
	    emails.append(user+"@"+users)
	return(emails)

print(email_list({"gmail.com": ["clark.kent", "diana.prince", "peter.parker"], "yahoo.com": ["barbara.gordon", "jean.grey"], "hotmail.com": ["bruce.wayne"]}))

['clark.kent@gmail.com', 'diana.prince@gmail.com', 'peter.parker@gmail.com', 'barbara.gordon@yahoo.com', 'jean.grey@yahoo.com', 'bruce.wayne@hotmail.com']

In [80]:
def groups_per_user(group_dictionary):
    user_groups = {}
    # Go through the group_dictionary
    for key in group_dictionary:
        # Now go through the users in the group
        for values in group_dictionary[key]:
            # Now add the group to the list of
            # groups for this user, creating the
            # entry in the dictionary if necessary
            if values not in user_groups:
                #user_groups[values] = key
                user_group[values] = user_groups[values].append(key)
        
    return user_groups

print(groups_per_user({"local": ["admin", "userA"],
		"public":  ["admin", "userB"],
		"administrator": ["admin"] }))

KeyError: 'admin'